.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #161616;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-bottom: 15px;
}

.description {
  display: flex;
  flex-direction: column;
}

.invoice {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
}

.invoiceValue {
  display: flex;
  font-weight: 200;
}

.buttons {
  display: flex;
}

.button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 20px;
}
